/* body section */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i{
    cursor: pointer;
}

/* nav section */

.navbar-toggler{
    border: none;
    font-size: 0.9rem;
}

.nav-item{
    font-size: 1.1rem;
    margin-right: 3%;
}

/* blog heading section */

.blog_heading{
        font-size: 3.5rem;
        letter-spacing: 20px;
        font-family: 'Alkalami', serif;
        font-family: 'Dancing Script', cursive;
        color: #c69f73;
}

.blog_heading_by{
    font-size: 1.9rem;
    font-family: 'Cedarville Cursive', cursive;
}


/* carousel_section */

.carousel-inner{
    height: 65vh;
}

.carousel-item{
    width: 100%;
    height: 65vh;
    /* border: 1px solid black; */
    background: url('../image/hitesh-choudhary-D9Zow2REm8U-unsplash.jpg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #efefef; */
    /* opacity: 0.1; */
   
}
.card{
    opacity: 1;
}

@supports () {
    /*  Style to apply  */
 }

.card-body{
    /* background: #efefef; */
    background-color: #efefef;
    /* opacity: 0.1; */
}
.second_item{
    background: url('../image/emile-perron-xrVDYZRGdw4-unsplash.jpg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
}

.third_item{
    background: url('../image/hitesh-choudhary-D9Zow2REm8U-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_item{
    width: 400px;
    
    margin: auto;
}


.card-title{
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 5px;
    border-bottom: 1px solid #c69f73;
}
.card-text{
    font-family: 'Alkalami', serif;
}

/* for all */
.btn{
    border: 1px solid #c69f73;
    font-family: 'Open Sans', sans-serif;
}
.btn:hover{
    background-color: #c69f73;
}
.fa-brands{
    color: #c69f73;
}

span{
    font-family: 'Source Sans Pro', sans-serif;
}

/* blog and about section */
.top_blog{
    font-family: 'Alkalami', serif;
    font-size: 1.9rem;
    letter-spacing: 4px;
    /* text-decoration: underline; */
}
.first_blog{
    border-bottom: 1px solid #c69f73;
}
.heading_date{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    font-size: .9rem;
    float: right;
}
.first_ifo{
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.first_heading{
    margin-top: 10px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    color: #c69f73;
}

.extra_blog img{
    /* border-radius: 50%; */
    margin-bottom: 10px;
}

.extra_blog .h3{
    font-size: 1.9rem;
    font-family: 'Dancing Script', cursive;
    color: #c69f73;
    letter-spacing: 4px;
}

.extra_blog p{
    padding: 0 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
.extra_blog span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9rem;
    float: right;
    padding: 0 8%;
    letter-spacing: 2px;
}



.tobe_borderd{
    font-family: 'Alkalami', serif;
    height: 35px;
    width: 75%;
    /* border: 1px solid #c69f73; */
    font-size: 1.7rem;
    margin: auto;
    letter-spacing: 3px;
    padding-top: 5px;
}
.fa-img .fa-brands{
    margin-right: 36px;
}
.profile_img{
    
    border: 1px solid #c69f73;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
.profile_text{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5%;
}

.fands{
    height: 45px;
    padding-top: 8px;
}
.subscribe{
    /* border: 1px solid black; */
    width: 100%;
    /* margin: auto; */
    background-color: #efefef;
}

.profile_text a{
    color: #c69f73;
    text-decoration: none;
}
.subscribe .fa-brands{
    padding: 0 4px;
    margin-right: 24px;
    font-size: 1.6rem;
    color: black;
}

.subscribe .fa-brands:hover{
    color: #c69f73;
    
}

.newsletter{
    width: 75%;
    height: 225px;
    /* border: 1px solid black; */
    margin: auto;
    padding: 3%;
    background-color: #efefef;
}
.newsletter p{
    font-family:  'Dancing Script', cursive;
    font-size: 1.9rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.newsletter input{
    border: 2px solid #c69f73;
    padding: 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 1.2rem;
    letter-spacing: 2px;
    height: 35px;
    /* border-radius: 15px; */
}
.newsletter .btn{
    color: #fff;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.newsletter .btn:hover{
    color: black;
    background: #efefef;
    border: 2px solid #c69f73;
}


/* footer section */
.footer{
    width: 100%;
    height: 9vh;
    /* background-color: #c69f73; */
    padding-top: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .extra_blog{
        text-align: center;
    }
}




/* blog page */
.all_blog{
    font-family: 'Alkalami', serif;
    letter-spacing: 4px;
    font-size: 2.5rem;
}

.heading_blog a{
    font-size: 2.8rem;
    color: #212529;
    text-decoration: none;
    letter-spacing: 3px;
}

.heading_blog a:hover{
    font-weight: bold;
    color: #c69f73;
    text-decoration: underline;
}
.post{
    border-bottom: 1px solid #c69f73;
}




/* blog page */

.blog_title a,li{
    color: #c69f73;
    text-decoration: none;
}


.blog_title a:hover,.blog_title li:hover{
    font-size: 1.5rem;
    text-decoration: underline;
}

.post span i{
    
    cursor: pointer;
}

.post span i:hover{
    font-size: 1.2rem;
    color: #c69f73;
}

.post span a{
    color: #212529;
    text-decoration: none;
}



/* blog section */
.blog-body{
    font-size: 1.9rem;
}





/* comment section */
.comment{
    margin-top: 25px;
}

.comment:hover{
    /* border-bottom: 1px solid #c69f73; */
    /* text-decoration: underline; */
}
