{% extends 'base.html' %}

{% block body %}

<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-lg-8 col-sm-12 pe-5">
            <div class="h3 all_blog">All blogs</div>

            <div class="post mb-3">
                <p class="h2 heading_blog"><a href="{{ url_for('blog_details', id=blog.id) }}">{{blog.title}}</a></p>
                <p>{{blog.subtitle}},<span> {{blog.date}}</span></p>
                <p>{{blog.body|safe}}</p>
                <br>
                <span>0 Comments</span> <span style="float: right;"><a href="{{ url_for('update', id=blog.id) }}"><i
                            class="fa-regular fa-pen-to-square"></i></a> <a href="{{ url_for('delete',id=blog.id) }}"><i
                            class="fa-solid fa-trash ms-3"></i></a></span>
            </div>
            <div class="container w-100">
                <form action="" method="post" class="mt-5">
                    {{ ckeditor.load() }}
                    <label for="comment" class="h3 mb-3 p-0">Leave a comment</label>
                    {{ckeditor.create()}}

                    {{ ckeditor.config(name='body') }}
                    {% if not current_user.is_authenticated: %}

                    <a href="" class="btn mt-3" disabled="true" onclick=notice()>Submit</a>
                    {% else: %}
                    <a href="" class="btn mt-3" type="submit">Submit</a>
                    {% endif %}
                </form>

            </div>


        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="h4">Recent Post</div>
            <ul>
                {% for blog in blogs[:-6:-1] %}
                <li class="blog_title mt-3"><a href="{{ url_for('blog_details', id=blog.id) }}">{{blog.title}}</a></li>
                {% endfor %}
            </ul>
        </div>


    </div>
</div>
{% endblock body %}